parameters:
    level: max

    paths:
        - ../src/

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Protocol/Loader.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Protocol/Loader.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Protocol/Loader.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/PairingController.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/CharacteristicsController.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/AccessoriesController.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DiagnosticsController.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Commands/Install.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Commands/Install.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Commands/Install.php
            count: 1
        -
            message: '#^Method FastyBird\\Connector\\HomeKit\\Entities\\Channels\\Channel::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\Sources\\Bridge so it can be removed from the return type.#'
            path: ../src/Entities/Channels/Channel.php
            count: 1
        -
            message: '#^Method FastyBird\\Connector\\HomeKit\\Entities\\Devices\\Device::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\Sources\\Bridge so it can be removed from the return type.#'
            path: ../src/Entities/Devices/Device.php
            count: 1
